.fc .fc-button-primary:not(:disabled).fc-button-active {
  background: rgb(56, 84, 84);
  border: none;
}
.fc .fc-button-primary {
  background: teal;
}
.fc .fc-button:hover {
  background: teal;
}
.fc .fc-button {
  border: none;
}
.fc-daygrid-day.fc-day-today {
  background-color: #dff9fb !important;
}
.fc-timegrid-col.fc-day-today {
  background-color: #dff9fb !important;
}
.fc-button {
  box-shadow: none !important;
}

/* Custom scrollbar styles */
.fc {
  scrollbar-width: thin; /* For Firefox */
}

.fc::-webkit-scrollbar {
  width: 4px; /* For WebKit browsers */
}

.fc::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.fc::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}
